@charset "utf-8";

section {
  display: none;
  padding: 0;
}

section.on {
  display: block;
}

section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section h2 span {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  color: #555;
}

#sub2Btns {
  margin: 60px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#sub2Btns a {
  padding: 12px 24px;
  line-height: 1.3;
  letter-spacing: -1px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #777;
  background: #f7f7f7;
  font-family: Pretendard, sans-serif;
}

#sub2Btns a.on {
  background: #131d73;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 120px;
  border-top: 2px solid #000;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 25px;
  font-size: 18px;
  font-weight: normal;
}

table th {
  border-left: none;
  word-break: keep-all;
}

table td {
  text-align: right;
  color: #555;
  width: 24%;
}

table thead th {
  font-weight: bold;
  background: #eee;
}


table th:last-of-type,
table td:last-of-type {
  border-right: none;
}